<!DOCTYPE html>
<html>
<head>
    <title>Bienvenido | Detector de Plagio e IA</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Bienvenido a la Suite de Herramientas de IA</h1>
        <p>Selecciona una de las herramientas a continuación para empezar.</p>
        
        <div class="navigation-buttons">
            <a href="{{ url_for('plagio_bp.plagio_page') }}" class="button-link">Detector de Plagio</a>
            <a href="{{ url_for('ai_detector_bp.ai_detector_page') }}" class="button-link">Detector de Contenido IA</a>
            <a href="{{ url_for('paraphraser_bp.paraphraser_page') }}" class="button-link">Parafraseador de Texto</a>
        </div>
    </div>
</body>
</html>