<!DOCTYPE html>
<html>
<head>
    <title>Detector de Plagio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Detector de Plagio</h1>
        
        <div class="navigation-buttons">
            <form action="/upload" method="post" enctype="multipart/form-data">
                <label for="documento">Selecciona un documento para verificar el plagio:</label><br><br>
                <input type="file" id="documento" name="documento" required><br><br>
                <input type="submit" value="Analizar Plagio">
            </form>
        </div>

        <a href="{{ url_for('ai_detector_page') }}" class="button-link">Ir al Detector de IA</a>
        <a href="{{ url_for('paraphraser_page') }}" class="button-link">Ir al Parafraseador</a>

    </div>
</body>
</html>